
/* this is comment! */

/* h2 {
    color: blue;
} */


/* classes */

/* .heading-1 {
    background-color: red;
}

.heading-2 {
    background-color: green;
}

.heading-3 {
    background-color: yellow;
} */


/* ids */

/* #text-1 {
    background-color: blue;
    color: white;
}

#text-2 {
    color: red;
} */


/* 
inline styles
id
class
tag
*/


/* #id {
    background-color: blueviolet;
}

.class {
    background-color: red;
}

h1 {
    background-color: blue;
}
 */


/* .class {
    color: green;
} */

/* p {
    color: red;
} */

/* .class {
    color: yellow;
} */

/* .p {
    color: blue;
} */

/* p {
    font-size: 25px;
}


.p-1 {
    color: red;
}

.p-2 {
    color: yellow;
}

.p-3 {
    color: green;
} */


.title {
    background-color: green;
    color: white;
    width: 300px;
    height: 100px;

    border: 5px solid red;

    /* margin-bottom: 250px;
    margin-left: 100px; */

    /* margin: 50px 200px; */

    /* margin: 10px 20px 30px 40px; */

    /* padding-top: 40px;
    padding-left: 50px; */

    margin: auto;

}


.article {
    margin-top: 250px;
    width: 400px;
}